*
# folder
!/components
!/cpp-src
!/pages
!/public
!/src
# config files alphabetically
!/.babelrc
!/.editorconfig
!/.eslintrc.js
!/.prettierrc
!/compile-cpp.sh
!/entrypoint.sh
!/next-env.d.ts
!/next.config.js
!/package.json
!/tsconfig.json
!/yarn.lock
